.content {
    width: 100%;
    background-color: white;
    position: relative;
    color: black;
    /* padding: 1rem; */
    margin: 1rem 1rem;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    height: 470px;
    
}
.header {
    width: 92%;
    background-color: #FFFFFF;
    height: 40px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    position: fixed;
    border-bottom: 2px solid #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header svg {
    margin-left: 1rem;
    color: #424544;
}
 .refresh {
    width: 16px;
    height: 16px;
}
.check {
 height: 30px;
 width: 30px; 
}
.firsticon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondicon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    width: 100%;
    /* background-color: bisque; */
    margin-top: 40px;
    height: 427px;
    position: relative;    
    overflow: hidden;
    overflow-y: scroll; 
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}



.titlebar {
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    justify-content: left;
    border-bottom: 2px solid #F8F8F8;
    /* padding: 0 45px; */
}
.titlebar h3{
    
    padding: .6rem 5px;
    color: #444746;
}
.primary {
    width: 260px;
    background-color: #FFFFFF;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 1rem;
}
.promotions{
    width: 260px;
    background-color: #FFFFFF;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 1rem;
}
.social {
    width: 260px;
    background-color: #FFFFFF;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 1rem;
}
.title:hover {
    background-color: #F4F4F4;
}